<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- При развертывании проекта библиотеки службы содержимое файла конфигурации необходимо добавить в 
  файл app.config компьютера размещения. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.GraphService">
		  
        <endpoint address="" binding="netTcpBinding" contract="ServiceLibrary.ServiceContracts.IGraphCalculator" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
		  
		<endpoint address="profile" binding="netTcpBinding" contract="ServiceLibrary.ServiceContracts.IProfileController" />
        <!--<endpoint address="project" binding="netTcpBinding" contract="ServiceLibrary.ServiceContracts.IProjectDispatcher" />-->
		
		<host>
			<baseAddresses>
				<add baseAddress="net.tcp://localhost/GraphService/"/>
			</baseAddresses>
		</host>
	
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false". -->
			
          <serviceMetadata httpGetEnabled="False" />
		  
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
	  
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
