<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="editor.settings"
			type="CSCourseWork.EditorConfiguration.EditorConfigSection, ClientApplication"/>
	</configSections>

	<editor.settings>
		<namespaces>
			<item value="System" />
			<item value="CSCourseWork.EditorComponents" />
		</namespaces>
		<properties>
			<property name="NodeColor" type="EditorColor">
				<building value="">
					<add name="red" value="255" type="Int32" ref="" />
					<add name="green" value="255" type="Int32" ref="" />
					<add name="blue" value="255" type="Int32" ref="" />
				</building>
			</property>
			<property name="NodeSelectColor" type="EditorColor">
				<building value="">
					<add name="red" value="43" type="Int32" ref="" />
					<add name="green" value="227" type="Int32" ref="" />
					<add name="blue" value="97" type="Int32" ref="" />
				</building>
			</property>
			<property name="NodeFontColor" type="EditorColor">
				<building value="">
					<add name="red" value="0" type="Int32" ref="" />
					<add name="green" value="0" type="Int32" ref="" />
					<add name="blue" value="0" type="Int32" ref="" />
				</building>
			</property>
			<property name="EditorBackColor" type="EditorColor">
				<building value="">
					<add name="red" value="0" type="Int32" ref="" />
					<add name="green" value="0" type="Int32" ref="" />
					<add name="blue" value="0" type="Int32" ref="" />
				</building>
			</property>
			<property name="EditorGridColor" type="EditorColor">
				<building value="">
					<add name="red" value="0" type="Int32" ref="" />
					<add name="green" value="255" type="Int32" ref="" />
					<add name="blue" value="255" type="Int32" ref="" />
				</building>
			</property>
			<property name="NodeScaleRange" type="EditorScale">
				<building value="">
					<add name="min" value="30" type="Int32" ref="" />
					<add name="max" value="100" type="Int32" ref="" />
				</building>
			</property>
			<property name="NodeMovingSpeed" type="Int32">
				<building value="2" />
			</property>
			<property name="NodeBorderWidth" type="Int32">
				<building value="4" />
			</property>
			<property name="NodeFontFamily" type="EditorFontFamily">
				<building value="">
					<add name="font" value="Times New Roman" type="String" ref="" />
				</building>
			</property>
			<property name="TestType" type="EditorTestType">
				<building value="">
					<add name="text" value="coolstring" type="String" ref="" />
					<add name="range" value="" type="EditorScale" ref="#1" />
				</building>
			</property>
			<property name="#1" type="EditorScale">
				<building value="">
					<add name="min" value="50" type="Int32" ref="" />
					<add name="max" value="100" type="Int32" ref="" />
				</building>
			</property>
		</properties>
	</editor.settings>
	<!--<appSettings>
	<add key="editor.NodeColor" value="CSCourseWork.EditorComponents.EditorColor;0:System.Int32,0:System.Int32,0:System.Int32"/>
	<add key="editor.NodeSelectColor" value="CSCourseWork.EditorComponents.EditorColor;0:System.Int32,255:System.Int32,89:System.Int32"/>
	<add key="editor.EditorBackColor" value="CSCourseWork.EditorComponents.EditorColor;100:System.Int32,100:System.Int32,100:System.Int32"/>
		
	<add key="editor.NodeScaleRange" value="CSCourseWork.EditorComponents.EditorScale;60:System.Int32,100:System.Int32"/>
	<add key="editor.NodeMovingSpeed" value="System.Int32;10"/>
	<add key="editor.NodeBorderWidth" value="System.Int32;2"/>
	<add key="editor.NodeFont" value="System.Drawing.FontFamily;Times_New_Roman:System.String"/>
	</appSettings>-->
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8733/GraphService" binding="netTcpBinding"
				contract="GraphServiceReference.GraphCalculator" />
		</client>
	</system.serviceModel>
</configuration>