<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8733/GraphService"
					  binding="netTcpBinding"
					  contract="GraphServiceReference.GraphCalculator" />
		</client>
	</system.serviceModel>
</configuration>